*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
h4{
    text-align: center;
    margin-bottom: 20px;
}
.container{
    background-color: rgb(104, 91, 228);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card_image{
    padding: 10px;
    margin: 10px;
    border: 5px solid black;
    justify-content: center;
    justify-items: center;
    align-items: center;
}