*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 80%;
    margin: 5% auto;
    background-color: rgb(247, 219, 177);
    box-shadow: -2px -2px 5px rgb(253, 185, 185);
}
.container>nav{
    width: 100%;
    display: flex;
    max-height: 60px;
}
.logo{
    line-height: 60px;
    font-size: 30px;
    padding: 0%;
    color: beige;
    width: 40%;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px;
}
.container>nav>ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    right: 50px;
}
.container>nav>ul>li{
    line-height: 60px;
    margin: 0px;
    padding: 0;
    text-align: center;
    display: inline-block;
    min-width: 129px;
}